<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>View - {{ art.blog_title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        {%- comment -%} <link rel="stylesheet" href="../public/css/style.css"> {%- endcomment -%}
        {%- comment -%} <link rel='stylesheet' type='text/css' media='screen' href='{{ 'style.css.liquid' | asset_url }}'> {%- endcomment -%}
        {%- comment -%} {{ 'style.css.liquid' | asset_url | stylesheet_tag }} {%- endcomment -%}
        </style>
    </head>
    <body>
        <h3>{{ art.blog_title }}</h3>
        <hr>
        <p>{{ art.blog_txt }}</p>
        <hr>

        <a href="/">Home</a>
        <hr>
        
        <a href="/article/{{ art.blog_id }}/edit">Edit</a>
        <hr>

        <form action="/delete" method="POST">
            <div>
                <input name="blog" id="blog" value="{{art.blog_id}}" hidden />
                <button>Delete this blog</button>
            </div>
        </form> 
    </body>
</html>