<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit - {{ art.blog_title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h3 class="article-header">EDIT - {{ art.blog_title }}</h3>
        <hr>
        <div class="form-container">
            <form action="/update" method="POST">
                <div>
                    <input name="blog" id="blog" value="{{art.blog_id}}" hidden />
                    <label for="blog">Title</label>
                    <input type="text" name="blog" id="blog" value="{{ art.blog_title }}" />
                </div>
                <div>
                    <label for="blog">Blog</label>
                    <textarea name="blog" id="blog">{{ art.blog_txt }}</textarea>
                </div>
                <div>
                    <a class="cancel-button" href="/article/{{ art.blog_id }}">Cancel</a>
                    <button class="edit-button">Update</button>
                </div>
            </form>
        </div>
        <hr>
        <form action="/delete" method="POST">
            <div class="button-container">
                <a class="home-button" href="/">Home</a>
                <input name="blog" id="blog" value="{{art.blog_id}}" hidden />
                <button class="delete-button">Delete</button>
            </div>
        </form> 
    </body>
</html>