<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home - {{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1> {{title}} </h1>
        <a href="/create">Create New</a>
        <div>
            {% for txt in data %}
            <h3> --blog title-- {{ txt.blog_id }}</h3>
            <p> {{ txt.blog_txt }} </p>
            <a href="edit/{{ txt.blog_id }}">edit</a>
            {%- comment -%} <button id={{ txt.blog_id }} class="edit-button">Edit</button> {%- endcomment -%}
            {% endfor %}
        </div>

   
        <h2>Delete stuff</h2>
                <form action="/delete" method="POST">
            <div>
                <label for="blog">Blog to delete?</label>
                <input name="blog" id="blog" value="1" />
            </div>
            <div>
                <button>delete my blog</button>
            </div>
        </form>
    </body>
</html>