<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home - {{title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1> {{title}} </h1>
        <a href="/create">Create New</a>
        {% for txt in data %}
        <a href="article/{{ txt.blog_id }}">
            <div>
                <h3> {{ txt.blog_title }} </h3>
                {%- comment -%} <p> {{ txt.blog_txt }} </p> {%- endcomment -%}
                {%- comment -%} <a href="edit/{{ txt.blog_id }}">edit</a>
                {%- comment -%} <a href="article/{{ txt.blog_id }}">View</a> {%- endcomment -%}
                {%- comment -%} <button id={{ txt.blog_id }} class="edit-button">Edit</button> {%- endcomment -%}
            </div>
        </a>
        {% endfor %}
    </body>
</html>  

{%- comment -%}  
<h1> {{title}} </h1>
<a href="/create">Create New</a>
{% for txt in data %}
<a href="article/{{ txt.blog_id }}">
    <div>
        <h3> {{ txt.blog_title }} </h3>
    </div>
</a>
{% endfor %}
 {%- endcomment -%}